name: "Tizen ARM"

on:
  schedule:
    # 04:30 AM (KST) Mon-Fri
    - cron: "30 19 * * 0-4"

jobs:
  build:
    name: Tizen GBS build on Ubuntu (ARM)
    strategy:
      matrix:
        include:
          - gbs_build_arch: "armv7l"
            gbs_build_option: "--define \"unit_test 0\""
          - gbs_build_arch: "aarch64"
            gbs_build_option: "--define \"unit_test 0\""

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v1

    - name: prepare GBS
      run: |
        echo "deb [trusted=yes] http://download.tizen.org/tools/latest-release/Ubuntu_22.04/ /" | sudo tee /etc/apt/sources.list.d/tizen.list
        sudo apt-get update && sudo apt-get install -y gbs
        cp .github/workflows/tizen.gbs.conf ~/.gbs.conf

    - name: get date
      id: get-date
      run: |
        echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: restore gbs cache from main branch
      uses: actions/cache/restore@v4
      with:
        path: ~/GBS-ROOT/local/cache
        key: gbs-cache-${{ matrix.gbs_build_arch }}-${{ steps.get-date.outputs.date }}
        restore-keys: |
          gbs-cache-${{ matrix.gbs_build_arch }}-

    - name: run GBS
      run: |
        gbs build --skip-srcrpm --define "_skip_debug_rpm 1" -A ${{ matrix.gbs_build_arch }} ${{ matrix.gbs_build_option }}

    - name: save gbs cache
      uses: actions/cache/save@v4
      with:
        path: ~/GBS-ROOT/local/cache
        key: gbs-cache-${{ matrix.gbs_build_arch }}-${{ steps.get-date.outputs.date }}

    - name: get ML API
      uses: actions/checkout@v4
      with:
        repository: nnstreamer/api
        path: api
    - name: get ML Agent
      uses: actions/checkout@v4
      with:
        repository: nnstreamer/deviceMLOps.MLAgent
        path: mlagent
    - name: get NNStreamer
      uses: actions/checkout@v4
      with:
        repository: nnstreamer/nnstreamer
        path: _nnstreamer
    - name: build and test nnstreamer ml-api and ml-agent
      run: |
        pushd _nnstreamer
        echo "::group::Build and run unit-tests for NNStreamer"
        gbs build --skip-srcrpm --define "_skip_debug_rpm 1" -A ${{ matrix.gbs_build_arch }} ${{ matrix.gbs_build_option }}
        echo "::endgroup::"
        popd
        pushd api
        echo "::group::Build and run unit-tests for ML API"
        gbs build --skip-srcrpm --define "_skip_debug_rpm 1" -A ${{ matrix.gbs_build_arch }} ${{ matrix.gbs_build_option }}
        echo "::endgroup::"
        popd
        pushd mlagent
        echo "::group::Build and run unit-tests for ML Agent (deviceMLOps.MLAgent)"
        gbs build --skip-srcrpm --define "_skip_debug_rpm 1" -A ${{ matrix.gbs_build_arch }} ${{ matrix.gbs_build_option }}
        echo "::endgroup::"
        popd
